* {
  font-family: sans-serif;
  color: aliceblue;
}

:root {
  --nav-background: red;
  --nav-hover-background: rgb(249, 119, 119);
  --text-color: aliceblue;
  --email-color: aqua;
}

body {
  background-color: black;
  margin: unset;
  padding: unset;

}

#root {
  margin: unset;
  padding: unset;
}

.logo {
  margin-top: 5vh;
  margin-bottom: 2vh;
  font-style: italic;
  text-align: center;
}

.footer{
  margin: auto;
  margin-top: 10vh;
  width: 20%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.esconder{
  display: none;
}

.searchbar{
  color: black;
}

.card{
  width: 80%;
  margin: auto;
  margin-bottom: 50px;
  margin-top: 20px;
  padding: 20px;
  padding-top: 5px;
  border-style: solid;
  /* border-color: var(--text-color); */
  border-color: gray;
  border-radius: 25px;
  border-width: 2px;
}

.card-personal-info h2{
  margin-top: 10px;
}

.card-contact a{
  padding-top: 10px;
}

.card-header{
  display: flex;
  align-items: top;
  justify-content: space-between;
}

.card-button{
  background-color: red;
  border-style: none;
  border-radius: 20px;
}

.setPaid{
  background-color: green !important;
  transition: .5s;
}

.setPaid:hover{
  background-color: rgb(1, 199, 1) !important;
}

input{
  color: black;
}



.card-main-content{
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  padding-top: 15px;
  /* justify-content: space-around; */
  overflow-x: scroll;
}

.card-divida{
  min-width: 250px;
  margin-top: 30px;
  margin-right: 20px;
  border-radius: 20px;
  border-style: solid;
  border-width: 2px;
  border-color: gray;
  padding: 20px;
}

.card-footer{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.card-footer button{
  padding: 5px;
}

.card-cliente-footer{
  width: 20%;
  & button{
    padding: 15px;
  }
}

.footer .card-button{
  padding: 20px;
}

.search {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.cadastros a{
  margin-top: 20px;
  margin-right: 20px;
}

.cadastros{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.search input{
  scale: 2;
  margin-bottom: 40px;
  margin-top: 20px;
  border-radius: 25px;
  border-style: solid;
  /* border-color: red; */
  /* border-width: 2px; */
}

.card-button{
  transition: .5s;
}

.card-button:hover{
  cursor: pointer;
  background-color: var(--nav-hover-background);
}

.search input::placeholder{
  font-style: italic;
  text-align: center;
}

.search button{
  padding: 20px;
}

.cliente-page{
  display: flex;
  width: 100vw;
  height: 85vh;
}

.form-cliente{
  width: 60%;
  margin-left: 30px;
}

.lista-dividas{
  width: 30%;
  height: 80vh;
  overflow-y: scroll;
}

.form-item{
  display: flex;
  flex-direction: column;
  margin-top: 15px;


  & input{
    margin-top: 10px;
    width: 70%;
  }

}

.form-buttons{
  margin-top: 20px;

  & button{
    margin-left: 20px;
    padding: 15px;
  }
}


.form-item input:focus{
  border-color: var(--nav-background);
}