* {
  font-family: sans-serif;
}

:root{
  --background: blue;
  --hover-background: cornflowerblue;
  --text-color: aliceblue;
  --email-color: aqua;
}

body{
  margin: unset;
  padding: unset;

}

#root{
  margin: unset;
  padding: unset;
}